@import url(https://fonts.googleapis.com/css?family=Asap+Condensed:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body,
html {
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  align-items: center;
  font-family: "Asap Condensed", "Signika Negative", sans-serif;
}
.set {
  position: absolute;
  top: 100px;
  /* bottom:  150px; */
  width: 450px;
  padding-bottom: 200px;
  margin-bottom: 200px;
  z-index: 10;
}

.red {
  background-color: rgb(255, 88, 88);
}
.green {
  background-color: rgb(57, 236, 63);
}
.loading {
  background-color: rgb(247, 230, 45);
}
.mgn {
  position: relative;
  /* margin-top: 25.0px; */
  /* top: 150px; */
  padding-top: 250px;
}
.spcng {
  margin-bottom: 200px;
}
.tblSet {
  /* margin-top: 100px; */
  /* padding-top: 150px; */
  position: relative;
  top: 250px;
}

button {
  background-color: whitesmoke;
}